#lay_body {padding-left:4px; padding-top:4px; padding-right:4px;padding-bottom:4px;}
#lay_body p {margin: 4px 4px 4px 4px;}
#lay_f1 .right_area {padding:0px}
#lay_f2 {padding-bottom:0px}
#lay_f3 {padding: 0px;}
#lay_f3 TD, #lay_f3 P {}



